
<% cache comment do %>
  <div class="comment" id="comment">
      <td> Text <%= comment.text %> </td>
      <td> User <%= comment.user.name %></td>
      <td> Time<%= comment.updated_at %></td>
  </div>
<% end %>
